<%if (fixBrowserStyles === 'normalize') {
%>@import '~normalize.css';
<% } else if (fixBrowserStyles === 'ress') {
%>@import '~ress';
<% } %>@import 'utils';
@import 'modules/fonts';
@import 'modules/typography';

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
